@page
@model BabelCitizen.Pages.GuideModel
@{
    ViewData["Title"] = "Guide to watch video, lyrics, and translation side-by-side on a computer";
}

<p class="info">
    When trying to improve your dictionary in a foreign language, I found that it helps finding music you like and then following the video,
    lyrics, and translation side-by-side, and this is what Babel Citizen tries to help with.
</p>
<p class="info">
    The best way would have been to add the lyrics and translations on the same page as the video.
    The copyright parts make that a bit more complicated, so the next best thing is opening two tabs of the browser to see everything on one screen.
</p>
<p class="info">
    This is how it looks like on a computer with Windows 10, it should work similarly on other operating systems.
    If you don't know how to easily do that, there's a step-by-step guide under the image.
</p>

<a href="~/images/sidebyside.png" target="_blank">
    <img src="~/images/sidebyside.png" class="img-fluid" alt="Side by side" />
</a>

<ol class="steps">
    <li>Open a song page in Babel Citizen</li>
    <li>"Restore Down" the page (it's the button right next to the close X button)</li>
    <li>Click on the link with lyrics & translation, it will open that page in a new tab</li>
    <li>Grab the tab by its tab title zone and drag it to the right edge of the screen, exactly at the middle, and let it go when the small animation appears</li>
    <li>Now that tab is in the right half of the screen, and you can select the original Babel Citizen tab to be opened in the left half.</li>
</ol>