@page
@model IndexModel
@{
    ViewData["Title"] = "Babel Citizen - Learn Foreign Languages with Music";
}

@foreach (var language in Model.Languages)
{
    <div class="language-block">
        <h2 class="language-title">
            New @language.Name Songs
            <a href="/@language.Name.ToLower()-music" class="btn btn-secondary see-all">See All</a>
        </h2>
        <div class="row">
            @foreach (var song in Model.NewSongsByLanguage[language.Id])
            {
                <partial name="_SongCard" model="song" />
            }
        </div>
    </div>
}